*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.main{
    background:url(../image/bg.jpg)no-repeat;
    background-size: cover;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    border-style: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 5px 5px 30px black;
}
h1{
    color: aliceblue;
    font-size: 120px;
    text-shadow: 2px 3px 10px black;
    position: absolute;
    right: 100px;
    bottom: 100px;
}