/* @import url(../css/my.css);  이런식으로도 사용이가능*/
#a1{
    text-decoration-color: rgb(178, 215, 0);
}
input{
    background-color: rgb(240, 230, 140);
}
label{
    color: rgb(255, 215, 0);
    
}
.tc-red{
    color:red;
    font-style: italic;
}
.bg-blue{
    background-color:rgb(30 ,30, 30);
    font-style: italic;
    font-size: x-large;
}
span{
    color: yellowgreen;
}