/* header */
header nav>ul{
    /* float부모 노드에 걸어주기 */
    overflow: hidden;
}
header nav>ul>li{
    float: left;
    /* width제외 이유 : 고정크기가 아닌 content의 내용의 크기에 따라서 작성시 */
}
header nav,div.logo{
    /* float해제 */
    clear: both;
}
header{
    /* position  자식들의 기준점 */
    position: relative;
    height: 150px;
}

header .top{
    position: absolute;
    right: 0;
    top:0;
}

header .bottom{
    position: absolute;
    right: 0;
    bottom: 0;
}

header .logo{
    position: absolute;
    top: 20px;
    left: 30px;
}

/* li-a링크 padding,background,border 생성 */

header a{
    /* 원래inline인데 변경이유
    width,height,padding,margin설정을 위해 */
    display: inline-block;
    border:1px solid black;
}
header li:first-child>a{
    border-radius: 15px 0 0 15px;
}
header li:last-child>a{
    border-radius:  0 15px 15px 0 ;
}
header .top a{
    padding: 5px 10px;
}
header .bottom a{
    padding: 10px 15px;
}
header a:hover{
    background-color: black;
    color: whitesmoke;
}