aside ul>li>a>div {
    float: left;
}

aside ul>li>a>div:first-child {
    width: 45px;

    margin-right: 10px;
}

aside ul>li>a>div:last-child {
    width: 120px;
}

aside ul>li {
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;

    padding: 10px;
    border: 1px solid black;
}
/* 겹치는선 없에는법 */
/* radio버튼 보였다가 안보였다가 하는 방법 */
aside input[type=radio] {

    display: none;
}

aside input[type=radio]:nth-of-type(1):checked~div:nth-of-type(1) {
    display: block;
}

aside input[type=radio]:nth-of-type(1):checked~div:nth-of-type(2) {
    display: none;
}

aside input[type=radio]:nth-of-type(2):checked~div:nth-of-type(1) {
    display: none;
}

aside input[type=radio]:nth-of-type(2):checked~div:nth-of-type(2) {
    display: block;
}