section article{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

section .article-1 div.flex-3{
    display: flex;
    /* flex - 옆으로 나란히 나타나게 할때만 사용하는경우가 많음 */
    /* flex-direction: column;  새로로 만들기*/
    /* wrap방식 - 여백이 조금 남음 */
    flex-wrap: wrap;
    gap: 10px;
}
section .article-1 div.flex-3 >div{
    
    width: 40%;
    border: 1px solid black;

}
section article.article-2 div.grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    column-gap: 10px;
}
section article.article-2 div.grid-3 > div{
    
    border: 1px solid black;

}