aside ul>li>a>div{
    float: left;
}
aside ul>li>a>div:first-child{
    width: 45px;
 }
aside ul>li>a>div:last-child{
     width: 120px;
 }
aside ul> li{
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;
}
aside input[type=radio]{
    
    display:none;
 }
