ul>li>a>div{
    float: left;
}
ul>li>a>div:first-child{
    width: 45px;
 }
 ul>li>a>div:last-child{
     width: 120px;
 }
ul> li{
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;
}
