<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 첫 웹페이지</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/myweb.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="wrap-header">
        <header>
            <nav class="top">
                <ul>
                    <li><a href="#11">메뉴1</a></li>
                    <li><a href="#22">메뉴2</a></li>
                    <li><a href="#33">메뉴3</a></li>
                    <li><a href="#44">메뉴4</a></li>
                    <li><a href="#55">메뉴5</a></li>
                </ul>
            </nav>

            <nav class="bottom">
                <ul>
                    <li><a href="#66">메뉴6</a></li>
                    <li><a href="#77">메뉴7</a></li>
                    <li><a href="#88">메뉴8</a></li>
                    <li><a href="#99">메뉴9</a></li>
                    <li><a href="#111">메뉴10</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h2>로고 </h2>
                <h4>두줄로 나타내기</h4>
            </div>

        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1>Main Article</h1>
                <p>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac
                    risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus
                    interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem
                    nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat
                    leo, id gravida quam.
                </p>
            </article>
            <article>
                <h1 class="gothic-a1-regular">Main Article</h1>
                <p>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac
                    risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus
                    interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem
                    nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat
                    leo, id gravida quam.
                </p>
            </article>
            <article>
                <h1 class="gothic-a1-regular">Main Article</h1>
                <p>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac
                    risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus
                    interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem
                    nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat
                    leo, id gravida quam.
                </p>
            </article>
            <article>
                <h1 class="gothic-a1-regular">Main Article</h1>
                <p>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac
                    risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus
                    interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem
                    nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat
                    leo, id gravida quam.
                </p>
            </article>
            <article>
                <h1 class="gothic-a1-regular">Main Article</h1>
                <p>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac
                    risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus
                    interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem
                    nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat
                    leo, id gravida quam.
                </p>
            </article>
        </section>
        <aside>

            <input type="radio" name="n1" id="firsttab" checked="checked">
            <input type="radio" name="n1" id="secondtab">
            <div class="button">
                <label for="firsttab" class="fir">firsttab</label>
                <label for="secondtab" class="sec">secondtab</label>
            </div>
            <div class="tab-item">
                <ul>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>213</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-item">
                <ul>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>213</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>4</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <div>
                slide image
            </div>
            <h3>HTML5 + CSS3 Basic</h3>
            <address>website blabla</address>
        </footer>
    </div>
</body>

</html>