<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/ex2.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="main1">
            <h1>제목1</h1>
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin viverra odio sem. Vestibulum quis feugiat urna. Nulla eu lobortis metus. Aenean venenatis turpis a ultricies aliquam. Integer in tempus erat, ac viverra purus. Nullam venenatis ante tortor, sit amet euismod urna euismod at. Phasellus at suscipit magna.
                </article>
            </section>
        </div>
        <div class="main2">
            <h1>제목2</h1>
            <section>
                <article>
                    Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat leo, id gravida quam.
                </article>
            </section>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="main3">
            <h1>제목3</h1>
            <section>
                <article>
                    Nunc venenatis diam nulla, a finibus arcu vulputate vel. Sed quis venenatis ex. Mauris id iaculis lectus, id placerat ex. Cras rutrum, dolor ut egestas fringilla, enim dui lobortis eros, a auctor urna sem vitae nisi. Donec tincidunt felis eu justo sollicitudin, quis finibus tortor porttitor. Nullam maximus libero cursus bibendum porta. Maecenas ut quam sit amet quam tincidunt facilisis. Nam efficitur quam justo, et malesuada justo gravida in. Nullam commodo vulputate vulputate.
                </article>
            </section>
        <table>표1
            <thead>
                <tr>
                    <th>소제목</th>
                    <td>11</td>
                    <td>22</td>
                    <td>33</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>소제목2</th>
                    <td>44</td>
                    <td>55</td>
                    <td>66</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>소제목3</th>
                    <td>77</td>
                    <td>88</td>
                    <td>99</td>
                </tr>
            </tfoot>
        </table>
        </div>

    </div>
    
</body>
</html>