<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <!-- 
        layout - 00 
        필수 link 작업 reset.css 
    -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv_03.css" rel="stylesheet"> 
    <style>
        /* span{
            display: block;
            width: 500px;
            height: 300px;
            padding: 10px;
            margin: 20px;
            border: 1px solid red;
        }
        div{
            display: inline-block;
            width: 200px;
            height: 300px;
            padding: 10px;
            margin: 20px;
            border: 1px solid black;
        } */

    </style>
</head>
<body>
    <span>inline임시테스트용</span>
    <div>div임시테스트용</div>
    <div class="wrap">
        <header class="wrap-main">
            <h1>제목: 회사명 , 로고 , 로그인</h1>
        </header>
        <div class="wrap-nav" class="wrap-main">
            <nav>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content" class="wrap-main">
        <section>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin viverra odio sem. Vestibulum quis feugiat urna. Nulla eu lobortis metus. Aenean venenatis turpis a ultricies aliquam. Integer in tempus erat, ac viverra purus. Nullam venenatis ante tortor, sit amet euismod urna euismod at. Phasellus at suscipit magna.
            </article>
            <article>
                Etiam orci tortor, maximus et massa suscipit, dapibus cursus erat. Nullam et lorem odio. Donec ac risus dignissim, dignissim purus at, eleifend neque. Aliquam vestibulum augue pharetra tellus interdum consequat. Duis dapibus consequat tortor, in aliquam magna faucibus cursus. Nullam a sem nibh. Vestibulum scelerisque lorem eget nunc gravida, non tincidunt ante bibendum. Fusce et placerat leo, id gravida quam.
            </article>
            <article>
                Nunc venenatis diam nulla, a finibus arcu vulputate vel. Sed quis venenatis ex. Mauris id iaculis lectus, id placerat ex. Cras rutrum, dolor ut egestas fringilla, enim dui lobortis eros, a auctor urna sem vitae nisi. Donec tincidunt felis eu justo sollicitudin, quis finibus tortor porttitor. Nullam maximus libero cursus bibendum porta. Maecenas ut quam sit amet quam tincidunt facilisis. Nam efficitur quam justo, et malesuada justo gravida in. Nullam commodo vulputate vulputate.
            </article>
        </section>
        <aside>
            <div>
                광고, 최근본 상품, 바로가기 링크
            </div>
            <nav>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                </ul>
            </nav>
        </aside>
        </div>
        <footer class="wrap-main">
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
            <div>링크</div>
            <nav>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>