<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계-순서</title>
    <!-- 1. 해상도 - 최적해상도 1050px 결정 (최대,최소 지원범위 / 테스트 필요)-->
    <!-- 2. content영역 960px, 배치(중앙 or 왼쪽) -->
    <!-- 3. reset.css 폴더 경로 지정,확인-->
    <link href="/css/reset.css" rel="stylesheet">
    <!-- 4.project명 또는 core.css/ projectname.css 폴더경로 -->
    <!-- 4. 기본색상 10~15개 정도 class생성-->
    <!-- 4. 폰트 family와 크기 5~7개정도 class 미리생성 -->
    <!-- 4. button 3개 class 미리만들기 -->
    <!-- 4. a모양 미리만들어두기-->
    <link href="/css/webpage_core.css" rel="stylesheet">
    <!-- 5. body layout 영역 설정 - 화면설계서 -->
    <link href="/css/webpage_layout.css" rel="stylesheet">
    <!-- header영역 style -->
    <link href="/css/webpage_header.css" rel="stylesheet">
    <!-- footer영역 style -->
    <link href="/css/webpage_footer.css" rel="stylesheet">
    <!-- section영역 style -->
    <link href="/css/webpage_section.css" rel="stylesheet">
    <!-- aside영역 style -->
    <link href="/css/webpage_aside.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut elit est. Proin turpis ex, suscipit in risus ut, aliquet sodales augue. Ut eleifend orci vitae nibh dapibus facilisis. Curabitur varius diam at nulla auctor faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a purus sed odio laoreet gravida vel id nunc. Duis id tortor enim. Sed sed iaculis nisi. Aenean non augue pharetra, blandit leo sit amet, fermentum leo. Vestibulum id molestie elit. Integer sed luctus erat, vitae iaculis felis. Aliquam erat volutpat. Quisque eget lacinia sem. Sed ut elit vel leo bibendum fermentum ac quis ante. Vivamus molestie tincidunt pulvinar. Donec ut erat id risus congue suscipit.
            </header>
            
        </div>
        <div class="wrap-main">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut elit est. Proin turpis ex, suscipit in risus ut, aliquet sodales augue. Ut eleifend orci vitae nibh dapibus facilisis. Curabitur varius diam at nulla auctor faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a purus sed odio laoreet gravida vel id nunc. Duis id tortor enim. Sed sed iaculis nisi. Aenean non augue pharetra, blandit leo sit amet, fermentum leo. Vestibulum id molestie elit. Integer sed luctus erat, vitae iaculis felis. Aliquam erat volutpat. Quisque eget lacinia sem. Sed ut elit vel leo bibendum fermentum ac quis ante. Vivamus molestie tincidunt pulvinar. Donec ut erat id risus congue suscipit.
                </article>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut elit est. Proin turpis ex, suscipit in risus ut, aliquet sodales augue. Ut eleifend orci vitae nibh dapibus facilisis. Curabitur varius diam at nulla auctor faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a purus sed odio laoreet gravida vel id nunc. Duis id tortor enim. Sed sed iaculis nisi. Aenean non augue pharetra, blandit leo sit amet, fermentum leo. Vestibulum id molestie elit. Integer sed luctus erat, vitae iaculis felis. Aliquam erat volutpat. Quisque eget lacinia sem. Sed ut elit vel leo bibendum fermentum ac quis ante. Vivamus molestie tincidunt pulvinar. Donec ut erat id risus congue suscipit.
                </article>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut elit est. Proin turpis ex, suscipit in risus ut, aliquet sodales augue. Ut eleifend orci vitae nibh dapibus facilisis. Curabitur varius diam at nulla auctor faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a purus sed odio laoreet gravida vel id nunc. Duis id tortor enim. Sed sed iaculis nisi. Aenean non augue pharetra, blandit leo sit amet, fermentum leo. Vestibulum id molestie elit. Integer sed luctus erat, vitae iaculis felis. Aliquam erat volutpat. Quisque eget lacinia sem. Sed ut elit vel leo bibendum fermentum ac quis ante. Vivamus molestie tincidunt pulvinar. Donec ut erat id risus congue suscipit.
                </article>
            </section>
            <aside>
                <input type="radio" name="n1" id="firsttab" checked="checked">
            <input type="radio" name="n1" id="secondtab">
           
            <label for="firsttab">firsttab</label>
            <label for="secondtab">secondtab</label>
       
            <div class="tab-item">
                <ul>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>213</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-item">
                <ul>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>213</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>4</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                            </div>
                            <div>
                                <div>HTML 5</div>
                                <div>2024-03-13</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut elit est. Proin turpis ex, suscipit in risus ut, aliquet sodales augue. Ut eleifend orci vitae nibh dapibus facilisis. Curabitur varius diam at nulla auctor faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a purus sed odio laoreet gravida vel id nunc. Duis id tortor enim. Sed sed iaculis nisi. Aenean non augue pharetra, blandit leo sit amet, fermentum leo. Vestibulum id molestie elit. Integer sed luctus erat, vitae iaculis felis. Aliquam erat volutpat. Quisque eget lacinia sem. Sed ut elit vel leo bibendum fermentum ac quis ante. Vivamus molestie tincidunt pulvinar. Donec ut erat id risus congue suscipit.
            </footer>
            
        </div>


    </div>
</body>
</html>