<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bookp290.css" rel="stylesheet">
</head>
<body>
    <div class="main1">
        <header>
            <h1>강아지용품</h1>
        </header>
        <section>
            
            <article>
                <h2>dd</h2>
                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper</dd>
            </article>
            
            <article>
                <h2>dd</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper</article>
            
            <article>
                <h2>dd</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper</article>
            
            <article>
                <h2>dd</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique velit sit amet erat consectetur, vitae cursus leo malesuada. Fusce nulla tellus, volutpat vitae ex eu, varius rutrum lacus. Duis at venenatis odio. Aliquam dignissim ipsum felis, et aliquet magna porta a. Morbi sagittis elementum gravida. Cras tincidunt massa sit amet felis ullamcorper</article>
        </section>
        <footer>
            <h1>연습하기</h1>
        </footer>

    </div>
    <div class="main2">
        <ul>
            <li><a href="#">메뉴1</a></li>
            <li><a href="#">메뉴2</a></li>
            <li><a href="#">메뉴3</a></li>
            <li><a href="#">메뉴4</a></li>
        </ul>
    </div>
    
</body>
</html>